<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sportstalk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true">

        <meta-data
            android:name="sportstalk.api.url.endpoint"
            android:value="${apiUrlEndpoint}"/>

        <meta-data
            android:name="sportstalk.api.auth_token"
            android:value="${apiAuthToken}"/>

        <meta-data
            android:name="sportstalk.api.app_id"
            android:value="${apiAppId}"/>

    </application>

</manifest>